html,
body {
	font-family: "Urbanist", sans-serif;
	color: #787877;
	background-color: #ead697;
	font-size: calc(14px + 8 * ((100vw - 320px) / (1880 - 320)));
	letter-spacing: 1.3px;
	font-weight: 600;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
}
::placeholder {
	color: #8a8a8a;
}

/********************/
/****** HEADER ******/
/********************/
header {
	background-color: #e5d2ad;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px;
}
.header-title {
	font-size: calc(16px + 16 * ((100vw - 320px) / (1880 - 320)));
	font-weight: 600;
	letter-spacing: 1.2px;
	padding-left: 20px;
	transition: color ease-in-out 0.5s;
}
.header-title:hover {
	color: #000;
}
.header-left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-left img {
	transition: ease-in-out 0.5s;
}
.header-left img:hover {
	filter: invert(245%) sepia(5%) saturate(116%) hue-rotate(385deg) brightness(116%) contrast(137%);
	transform: rotate(-360deg);
	transition: all ease-in-out 0.5s;
}
.search-box {
	width: 25vw;
	min-width: 200px;
	position: relative;
	z-index: 10;
}
.img-search {
	position: absolute;
	top: 50%;
	transform: translateY(-12.5px);
	right: 4%;
	background-color: transparent;
	width: 30px;
	height: 26px;
}
.search-box input {
	width: 100%;
	padding: 8px 15px;
	border: 2px solid #8f8e8d;
	border-radius: 25px;
	background-color: rgb(245, 245, 245);
	font-size: calc(13px + 9 * ((100vw - 320px) / (1880 - 320)));
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 20px;
	color: #302e2ec9;
	transition: background-color ease-in-out 0.3s;
}
.search-box input:focus {
	box-shadow: 0 0 10px 10px rgb(255 250 234);
	background-color: #fff;
	transition: box-shadow ease-in-out 0.3s;
}
.search-box .clear-search {
	position: absolute;
	margin-right: 10px;
	top: 50%;
	transform: translateY(-14px);
	right: 10%;
	background: url(../assets/svg/searchClear.svg) no-repeat center;
	filter: invert(30%) sepia(5%) saturate(10%) hue-rotate(40deg) brightness(189%) contrast(87%);
	width: 28px;
	height: 28px;
	transition: filter ease-in-out 0.5s;
}
.search-box .clear-search:hover {
	filter: invert(0%) sepia(5%) saturate(10%) hue-rotate(40deg) brightness(189%) contrast(87%);
	transition: ease-in-out 0.5s;
}
.img-search::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-12.5px);
	right: 0;
	background: url(../assets/svg/search.svg) no-repeat center;
	filter: invert(30%) sepia(5%) saturate(10%) hue-rotate(40deg) brightness(189%) contrast(87%);
	width: 25px;
	height: 25px;
	background-color: transparent;
	transition: background-color ease-in-out 0.5s;
}
.img-search:hover::before {
	filter: invert(30%) sepia(5%) saturate(10%) hue-rotate(40deg) brightness(0%) contrast(87%);
	transition: ease-in-out 0.5s;
}
@media (max-width: 480px) {
	.header-title {
		display: none;
	}
}

/********************/
/******* MAIN *******/
/********************/

main {
	padding: 50px 2.5px;
	height: calc(100vh-140px);
	min-height: calc(100vh-140px);
	min-height: 84%;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: calc(100%-140px);
	min-height: 84%;
}
.gallery-img {
	margin: 2.5px;
	width: 24vw;
	max-width: 475px;
	height: 40vh;
	object-fit: cover;
	flex: 1 1 470px;
}
@media (max-width: 480px) {
	main {
		padding: 25px 2.5px;		
	}
	.gallery-img {
		width: 100%;
	}
}

/********************/
/****** FOOTER ******/
/********************/

footer {
	background-color: #e5d2ad;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	height: 60px;
}
.footer-left span:nth-child(2) {
	padding: 0 10px;
}
.footer-left a {
	font-weight: 900;
	transition: ease-in-out 0.3s;
}
.footer-left a:hover {
	color: #000;
	transition: ease-in-out 0.3s;
}
.footer-right img {
	filter: invert(67%) sepia(5%) saturate(10%) hue-rotate(40deg) brightness(130%) contrast(87%);
	transition: ease-in-out 0.3s;
}
.footer-right a {
	transition: ease-in-out 0.3s;
}
.footer-right a:hover {
	filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(40deg) brightness(0%) contrast(100%);
	transition: ease-in-out 0.3s;
}
